<section class="mt-10 flex items-center space-x-2" aria-labelledby="alert-title">
    {% twui_badge type="info" text="Information" icon="information-circle" %}

    {% twui_badge type="success" text="Success!" icon="check-circle" %}

    {% twui_badge type="warning" text="Warning!" icon="exclamation-triangle" %}

    {% twui_badge type="error" text="Error!" icon="exclamation-triangle" %}

    {% twui_badge type="primary" text="Primary Badge" %}

    {% twui_badge type="secondary" text="Secondary Badge" %}

    {% twui_badge type="accent" text="Accent Badge" %}

    {% twui_badge type="neutral" text="Neutral Badge" %}
</section>
