{% extends "_base.html" %}

{% block title %}Tailwind UI{% endblock %}

{% block content %}

<div class="min-h-screen relative">
    <div class="fixed top-1/2 right-0 bg-gray-100 dark:bg-gray-800 flex flex-col space-y-4z-50">
        <button class="twui-btn hover:bg-gray-200 dark:hover:bg-gray-700" onclick="setTheme('light')">
            {% heroicon_outline "sun" %}
        </button>
        <button class="twui-btn hover:bg-gray-200 dark:hover:bg-gray-700" onclick="setTheme('dark')">
            {% heroicon_outline "moon" %}
        </button>
    </div>

    <main class="container mx-auto px-4 py-8">
        <h1 class="text-4xl font-bold mb-6">Welcome to the Tailwind UI Home Page</h1>

        <div id="color-palette">
            <h2 class="text-2xl font-bold mb-4">Color Palette</h2>
            <hr>
            {% include "./components/sections/colors.html" %}
        </div>

        <div id="button-section">
            <h2 class="text-2xl font-bold mb-4">Buttons</h2>
            <hr>
            {% include "./components/sections/buttons.html" %}
        </div>

        <div id="alert-section" class="mt-12">
            <h2 class="text-2xl font-bold mb-4">Alerts</h2>
            <hr>
            {% include "./components/sections/alerts.html" %}
        </div>

        <div id="toast-section" class="mt-12">
            <h2 class="text-2xl font-bold mb-4">Toasts</h2>
            <hr>
            {% include "./components/sections/toasts.html" %}
        </div>

        <div id="badge-section" class="mt-12">
            <h2 class="text-2xl font-bold mb-4">Badges</h2>
            <hr>
            {% include "./components/sections/badge.html" %}
        </div>

        <div class="mt-12">
            <h2 class="text-2xl font-bold mb-4">Links</h2>
            <hr>
            <p class="twui-link pt-2"><a href="https://facebook.com">Facebook</a></p>
        </div>
    </main>
</div>

{% endblock content %}
