[project]
name = "{{ project_name }}"
description = "{{ project_description }}"
type = "backend"

[backend]
framework = "django"
root_path = "{{ backend_root }}"

[backend-django]
django_version = "{{ django_version }}"
python_version = "{{ python_version }}"
