@layer components {
    .twui-badge {
        display: inline-flex;
        align-items: center;
        padding: 0.125rem 0.625rem;
        border-radius: 9999px;
        font-size: 0.75rem;
        line-height: 1rem;
        font-weight: 500;
    }

    .twui-badge-primary {
        color: white;
        background-color: var(--color-primary);
    }

    .twui-badge-success {
        color: white;
        background-color: var(--color-success);
    }

    .twui-badge-warning {
        color: white;
        background-color: var(--color-warning);
    }

    .twui-badge-error {
        color: white;
        background-color: var(--color-error);
    }

    .twui-badge-info {
        color: white;
        background-color: var(--color-info);
    }

    .twui-badge-secondary {
        color: var(--color-secondary-800);
        background-color: var(--color-secondary-100);
    }

    .twui-badge-accent {
        color: var(--color-accent-800);
        background-color: var(--color-accent-100);
    }

    .twui-badge-neutral {
        color: var(--color-neutral-800);
        background-color: var(--color-neutral-100);
    }
}
