.git/
.pixi/
.venv/
__pycache__/
*.py[codz]
.ruff_cache/
.secrets/
.secrets.*
.devcontainer/
env/
venv/
ENV/
*.egg-info/
build/
dist/

.env
.env.*
!.env.example

staticfiles/
media/
*.log
db.sqlite3
db.sqlite3-journal
