# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
*.lcov
.hypothesis/
.pytest_cache/
cover/

# Django stuff:
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# IPython
profile_default/
ipython_config.py

# mkdocs documentation
/site

# Ruff stuff:
.ruff_cache/

# pixi
.pixi/*
!.pixi/config.toml

# Virtual environment
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Secrets
.secrets
.secrets.*

# Environments variables
.env
.envrc
.env.*
!.env.example
