{% extends "./account_base.html" %}
{% load i18n %}
{% load static %}
{% load allauth account %}
{% block title %}{% trans "Sign Out" %}{% endblock title %}
{% url 'account_logout' as action_url %}
{% block content %}
  <main class="mx-auto container sm:mt-44">
    <div class="flex flex-1 flex-col justify-center px-6 py-12 lg:px-8">
      <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <p class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight">
          {% trans 'Are you sure you want to sign out?' %}
        </p>
      </div>
      <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        <form method="post" action="{{ action_url }}" class="space-y-6">
          {% csrf_token %}
          <div class="my-4">
            <button type="submit"
                    class="flex w-full justify-center rounded-md px-3 py-1.5 text-sm font-semibold leading-6 shadow-sm bg-black text-white hover:bg-slate-900 dark:bg-transparent dark:outline dark:outline-white dark:text-white dark:hover:text-gray-400 dark:hover:outline-gray-400">
              {% trans 'Sign Out' %}
            </button>
          </div>
          {% if redirect_field_value %}
            <input type="hidden"
                   name="{{ redirect_field_name }}"
                   value="{{ redirect_field_value }}" />
          {% endif %}
        </form>
      </div>
    </div>
  </main>
{% endblock content %}
