{% extends "./account_base.html" %}
{% load i18n %}
{% load static %}
{% load allauth account %}
{% block title %} {% trans "Signup" %}{% endblock title %}
{% url 'account_signup' as action_url %}
{% block content %}
  <main class="mx-auto container">
    <div class="flex flex-1 flex-col justify-center px-6 py-12 lg:px-8">
      <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <h2 class="text-center text-2xl font-bold leading-9 tracking-tight">{% trans "Signup" %}</h2>
      </div>
      <div class="mt-4 sm:mx-auto sm:w-full sm:max-w-sm">
        <form method="post" action="{{ action_url }}" class="space-y-6">
          {% csrf_token %}
          {{ form.as_p }}
          <div class="my-4">
            <button type="submit"
                    class="flex w-full justify-center rounded-md px-3 py-1.5 text-sm font-semibold leading-6 shadow-sm bg-black text-white hover:bg-slate-900 dark:bg-transparent dark:outline dark:outline-white dark:text-white dark:hover:text-gray-400 dark:hover:outline-gray-400">
              {% trans "Signup" %}
            </button>
          </div>
          {% if redirect_field_value %}
            <input type="hidden"
                   name="{{ redirect_field_name }}"
                   value="{{ redirect_field_value }}" />
          {% endif %}
        </form>
        <p class="mt-4 text-center">
        {% setvar link %}
          <a href="{{ login_url }}" class="font-semibold hover:text-blue-500">
          {% endsetvar %}
          {% setvar end_link %}
          </a>
        {% endsetvar %}
        {% blocktranslate %}Already have an account? Then please {{ link }}sign in{{ end_link }}.{% endblocktranslate %}
      </p>
      </div>
    </div>
  </main>
{% endblock content %}
