{% extends "./account_base.html" %}
{% load i18n %}
{% load static %}
{% load allauth account %}
{% block title %}{% trans "Verify Your Email Address" %}{% endblock title %}
{% url 'account_email' as email_url %}
{% block content %}
  <main class="mx-auto container sm:mt-44">
    <div class="flex flex-1 flex-col justify-center px-6 py-12 lg:px-8">
      <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight">
          {% trans "Verify Your Email Address" %}
        </h2>
        <p class="text-center mt-10">
          {% blocktrans %}This part of the site requires us to verify that you are who you claim to be. For this purpose, we require that you verify ownership of your email address.{% endblocktrans %}
        </p>
        <p class="text-center mt-10">
          {% blocktrans %}We have sent an email to you for verification. Please click on the link inside that email. If you do not see the verification email in your main inbox, check your spam folder. Otherwise contact us if you do not receive it within a few minutes.{% endblocktrans %}
        </p>
        <p class="text-center mt-10">
          {% blocktrans %}<strong>Note:</strong> you can still <a href="{{ email_url }}">change your email address</a>.{% endblocktrans %}
        </p>
      </div>
      <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        <div class="my-4">
          <a href="/"
             class="flex w-full justify-center rounded-md px-3 py-1.5 text-sm font-semibold leading-6 shadow-sm bg-black text-white hover:bg-slate-900 dark:bg-transparent dark:outline dark:outline-white dark:text-white dark:hover:text-gray-400 dark:hover:outline-gray-400">
            {% trans "Home" %}
          </a>
        </div>
      </div>
    </div>
  </main>
{% endblock content %}
