<section class="mt-10 space-y-4" aria-labelledby="alert-title">
    {% twui_alert type="info" title="Information" message="This is an informational alert." show_icon=True %}

    {% twui_alert type="success" title="Success!" message="Your operation was completed successfully." dismissible=True show_icon=True %}

    {% twui_alert type="warning" title="Warning!" message="Please be cautious while proceeding." show_icon=True %}

    {% twui_alert type="error" title="Error!" message="An error has occurred. Please try again later." dismissible=True show_icon=True %}
</section>
