<section class="mt-10 flex flex-col space-y-4 w-1/3" aria-labelledby="alert-title">
    {% twui_toast type="info" title="Information" message="This is an informational toast message." dismissible=True show_icon=True %}

    {% twui_toast type="success" title="Success!" message="Your operation was successful." dismissible=True show_icon=True %}

    {% twui_toast type="warning" title="Warning!" message="Please be cautious about this action." dismissible=True show_icon=True %}

    {% twui_toast type="error" title="Error!" message="An error has occurred." dismissible=True show_icon=True %}

</section>
